code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {  
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global font fallback for everything */
* {
  font-family: 'Poppins', sans-serif;
}

/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 17px;
    line-height: normal;
  }
}
